.wrapper {
  position: relative;
  color: #777;
}

@media (min-width: 840px) {
  .wrapper {
    padding: 6em 0 4em 0;
  }
}

.inner {
  margin: 10px 0;
}

@media (min-width: 840px) {
  .inner {
    margin: 0 auto;
    width: 70em;
  }
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(144, 144, 144, 0.075);
  margin-bottom: 4em;
}

.feature.left {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 840px) {
  .feature.left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.feature.right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 840px) {
  .feature.right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.actions li {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 0 2px #51baa4;
          box-shadow: inset 0 0 0 2px #51baa4;
  color: #51baa4 !important;
  border-radius: 10px;
}

ul.actions li a {
  font-size: 1.5em;
}

header.portfolio {
  margin-bottom: 20px;
  text-align: center;
}

header.portfolio h2 {
  color: #25383b;
  font-weight: 700;
  line-height: 1.5em;
  margin: 50px 0 2em 0em;
  text-transform: uppercase;
  font-size: 1.5em;
}

@media (min-width: 840px) {
  header.portfolio h2 {
    font-size: 2.5em;
  }
}

.link-src {
  color: #001333;
  border-radius: 15px;
  text-decoration: none;
  font-weight: bold;
  background-color: #fff6bb;
  /* display: block; */
  text-align: center;
  margin-right: 10px;
  padding: 5px 20px;
  font-size: 1.5em;
  font-weight: 200;
}

.image {
  width: 100%;
  border-radius: 0;
  border: 0;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

@media (min-width: 840px) {
  .image {
    width: 48%;
  }
}

.feature--img {
  width: 100%;
}

.content {
  text-align: center;
}

@media (min-width: 840px) {
  .content {
    padding: 1em 2em 0.1em 2em;
    text-align: left;
    width: 52%;
  }
}

.content p {
  margin: 1em 0;
  font-size: 1.2em;
  color: black;
}

#skills {
  text-align: center;
}

header.skill {
  color: black;
  font-size: 0.5em;
}

@media (min-width: 840px) {
  header.skill {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

header.skill h2 {
  color: #25383b;
  font-weight: 700;
  line-height: 1.5em;
  margin: 0 0 2em 0em;
  text-transform: uppercase;
  font-size: 2.5em;
}

@media (min-width: 840px) {
  header.skill h2 {
    font-size: 4em;
  }
}

header.skill h3 {
  font-weight: 100;
  font-size: 2em;
  margin-bottom: 1.5em;
}

@media (min-width: 840px) {
  header.skill h3 {
    font-size: 3em;
  }
}

.image-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 4em;
}

.image-grid .img {
  margin: 0;
  width: 49%;
  height: 10em;
  background-color: #f3f3f3;
  margin: 1px;
}

@media (min-width: 840px) {
  .image-grid .img {
    width: 25%;
  }
}

.img-size {
  width: 150px;
}

@media (min-width: 840px) {
  .img-size {
    width: 150px;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 70px;
  background-color: #005dff;
}

.footer-wrapper {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer-wrapper div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 840px) {
  .footer-wrapper div {
    width: 60%;
  }
}

.footer-wrapper a {
  color: #001333;
  border-radius: 15px;
  text-decoration: none;
  font-weight: bold;
  background-color: #fff6bb;
  display: block;
  text-align: center;
  margin: 10px auto 0 auto;
  padding: 5px;
  width: 7em;
}
/*# sourceMappingURL=home.css.map */